/* All the colors to be used */
:root {
    --dark: #04235A;
    --light: #064490;
    --lightest: #C3E0EA;
    --beige: #FAF0E6;
    --hover: #D1D9EB

}


/* Keep the header attached to every side of the website */
body {
    margin: 0;
    padding: 0;
    background-color: var(--beige);
}


/* White patch container for the logo */
.logo-container {
    background-color: var(--beige);
    text-align: center;
    position: sitcky; /* Position the logo container sticky */
    top: 0; /* Place it at the top of the viewport */
    left: 0; /* Align it to the left */
    width: 100%; /* Make it span the entire width */

}

.logo-container img {
    height: 150px;
    max-width: 100%; /* Ensure the logo image is responsive */
}

/* The design for whole heading */
header {
    background-color: var(--dark);
    color: white;
    text-align: center; 
    padding-top: 35px;
    padding-bottom: 35px;


}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* Make the list items centered */
}

header nav ul li {
    display: inline;
    margin-right: 50px;
}

/* Has to do with the header text */
header nav ul li a {
    color: var(--lightest);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}

/* The text in the header when hovered on is turned a lighter color */
header nav ul li a:hover {
    text-decoration: none;
    color: white;
}


header nav ul li a {
    position: relative;
}

header nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -8px; /* Adjust as needed to position the line */
    left: 0%; /* Start from the middle */
    width: 0;
    height: 2px; /* Adjust thickness as needed */
    background-color: var(--hover); /* Adjust color as needed */
    transition: width 0.3s ease; /* Adjust duration and timing function as needed */
}

header nav ul li a:hover::after {
    width: 100%; /* Expand to full width upon hover */
}


/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    background-color: var(--dark);
    min-width: 100px;
    z-index: 1;
    top: 100%; /* Position the dropdown below the parent */
    left: 0; /* Align the dropdown with the parent */
}

.dropdown li {
    float: none;
}

.dropdown li a {
    color: var(--lightest);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Show dropdown on hover */
#nav li.dropdown-parent {
    position: relative;
}


#nav li.dropdown-parent:hover .dropdown {
    display: block;
}

/* Styles for the top half blue box */
.content-container {
    background-color: var(--lightest); 
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden; /* Clear floats */
    border-radius: 10px;
}

/* Styles for the "Welcome to Broadalbin" text */
.Welcome {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    color: var(--lightest); 
    margin-top: 20px;
}

/* Styles for the paragraph */
.sidebar {
    float: left;
    width: 50%;
}

.sidebar .text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    
}

.sidebar .paragraph {
    margin-left: 20px;
    margin-right: 15px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:600;
    margin-bottom: 15px;
}

.sidebar .paragraph p{
    text-indent: 30px;
    margin-bottom:-10px;
}

.sidebar .Welcome {
    font-size: 35px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    max-width: 90%; 
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    text-shadow: 6px 6px 6px grey;
}


.sidebar .town-name {
    font-size: 90px;
    font-family: 'Italianno', serif;
    text-shadow: 6px 6px 6px grey;
    text-align: center;
    color: var(--dark); 
    margin-top: -25px;
    margin-left: -35px;
    margin-bottom: -8px;
}

.sidebar .separator {
    border: none;
    border-top: 4px solid var(--dark);
    width: 90%; 
    margin-left: 21px;
}

/* Styles for the slideshow */
.slideshow-container {
    float: right;
    position: relative;
    overflow: hidden;
    width: 50%;
    margin-top: 30px;
    border-radius: 10px;
}

/* Individual slides */
.mySlides {
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0; 
    transition: opacity 1s ease-in-out;

  }


    /* Styles for the slideshow */
.slideshow-container {
    float: right;
    position: relative;
    height: 50vh;
    overflow: hidden;
    width: 50%;
    margin-top: 97px;
   
}



/* Media query for phones */
@media only screen and (max-width: 600px) {
    .content-container {
        padding: 10px; /* Adjust padding */
        margin: 10px; /* Adjust margin */
    }

    .Welcome {
        font-size: 24px; /* Adjust font size */
    }

    .sidebar {
        width: 100%; /* Take full width on phones */
        float: none; /* Remove float */
    }

    .sidebar .town-name {
        font-size: 60px; /* Adjust font size */
        margin-top: -25px;
        margin-left: -5px;
    }

    .sidebar .paragraph {
        font-size: 14px; /* Adjust font size */
    }

   /*NEED TO MAKE SLIDESHOW SMALLER NOW  */
}





/* Individual slides */
.mySlides {
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0; 
    transition: opacity 1s ease-in-out;

  }

.mySlides img {
    width: 100%; 
    height: auto;
    display: block;
    margin-left:20px;
    
   
}
  

/* CSS for town board section */

.member .super {
    font-size: 15px;
}
.board-heading {
    margin-left: 30px;
    margin-top: 25px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 6px 6px 6px grey;
    color: var(--dark);

}
.town-board-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-right: 50px;
}

.member {
    text-align: center;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:-5px;
    padding-right:-5px;
    margin-left: 22px;
    margin-right:5px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    background-color: var(--lightest); 
    max-width: 250px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}





/* Styles for member images */
.member-img {
    width: 140px; 
    height: 180px; 
    margin-left:40px;
    margin-right: 40px; 
}


.member-details h2{
    font-family: 'Italianno', serif;
    color: var(--dark);
    font-size: 39px;
    font-weight: bolder;
    padding-top: -5px;
    padding-bottom: -25px;
}

.member-details p{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-top: -5px;
    color: var(--dark);
    
}

.title {

    font-weight: bolder;
}

.member-details {
   
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left:20px;
    margin-right:20px;
    padding-top: 5px;
}


/* Styles for TOWN CALENDAR */





.calendar {
    max-width: 600px;
    padding-right: 728px;
    padding-left: 50px;
    padding-bottom:50px;
    padding-top:50px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
    background-color: var(--dark);
    position:relative;
    display: flex;
  }

  /* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
    .calendar {
        flex-direction: column; /* Change flex direction to stack items vertically */
        padding: 20px; /* Adjust padding */
        max-width: 100%; /* Ensure calendar takes full width of the viewport */
        padding-right: 20px; /* Adjust padding */
        padding-left: 20px; /* Adjust padding */
        margin-left: 0; /* Remove left margin */
        margin-right: 0; /* Remove right margin */
    }

    .days {
        gap: 10px; /* Adjust gap between grid items */
        padding-left: 10px; /* Adjust padding left */
        padding-right: 10px; /* Adjust padding right */
    }

    .day {
        flex: 0 0 calc(100% / 7 - 20px); /* Adjust width of each day */
        padding: 15px; /* Adjust padding */
        font-size: 16px; /* Adjust font size if necessary */
    }
}

 
/* Add background color to event days */


  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .month-year {
    font-size: 60px;
    font-family: 'Italianno', serif;
    color: var(--lightest);
    font-weight: bold;
    border-bottom: 2px solid var(--dark); /* Add a line under the month */
  }
  
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .navigation button {
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove borders */
    font-size: 24px;
    color: var(--lightest); /* Change the color */
    cursor: pointer;
  }
  
  .navigation button:hover {
    color: var(--beige); /* Change color on hover */
  }
  
  .days-of-week {
    display: flex;
    justify-content: space-between;
    margin-bottom: -15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .day {
    flex-grow: 1;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    border: none;
    text-align: center;
    color: var(--dark);
    background-color: var(--lightest);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px; /* Increased gap between grid items */
  }

  .days-of-week {
    padding-bottom: 20px; /* Adjust the padding as needed */
}
  
  .day::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  
  .prev-month-day,
  .next-month-day {
    color: gray;
  }
  
  .events-container {
    display: flex; /* Change display to flex */
    flex-direction: column; /* Stack boxes vertically */
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-left: 80px;
   
  }

 
  
/* Add this CSS to your existing stylesheet or create a new one */

.event-box {
    display: flex;
    align-items: center;
    width: 390px;
    padding: 20px;
    margin: 10px;
    background-color: var(--lightest);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--lightest);
    
  }
  
  .event-date {
    font-size: 35px;
    font-weight: bold;
    color: var(--dark);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 10px;
    padding-right: 5px;
    
  }
  
  .event-full-date {
    
    font-size: 35px;
    color: var(--dark);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 20px;
    
   
  }
  
  .event-details {
    display: flex;
    flex-direction: column;
  }
  
  .event-name,
  .event-time {
    font-size: 24px;
    color: var(--dark);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
  }
 
  
  .date-container {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-left: 20px; /* Adjust padding as needed */
    padding-right: 5px;
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--beige);
    }
  

/* Quote/ Address Section on Home page*/

.quote-section {
    display: flex;
    background-color: var(--dark); /* Background color for the quote section */
    padding: 20px; /* Adjust padding as needed */
    margin-bottom: 20px;
    color: var(--lightest);
    margin-left: 30px;
    margin-right: 25px;
    border-radius: 10px;
    margin-top: 40px;
    
}

.left-section {
    flex: 1; /* Left section takes up all available space */
    padding-right: 20px;
    
}

.right-section {
    flex: 1; /* Right section takes up all available space */
    margin-right: 40px;
    margin-left: 40px;
}

.right-right {
    flex: 1; 
    margin-left: 20px;
}

.quote p{
    font-style: italic; /* Make the quote italic */
    margin-bottom: 10px; 
    margin-top: 10px;
    color:var(--lightest);
    font-size: 19px;
}

.quote h2 {
    font-family: 'Italianno', serif;
    font-size: 35px;
}
.contact-info p {
    margin-bottom: 25px;
    font-size: 19px;
}

.contact-info h2 {
    font-family: 'Italianno', serif;
    font-size: 35px;
}
.quote-section img {
    max-width: 75%; /* Ensure the image doesn't exceed its container width */
     margin-left: 50px;
     margin-bottom: 20px;
     margin-top:40px;/* Add space below the image */
}


    /* Announcements part!*/
    .announcement-carousel-wrapper {
        position: relative;
        display: flex;
        align-items: center;
      }
      
      .announcement-carousel {
        flex: 1; /* Occupy remaining space */
        overflow: hidden;
      }
      
      .carousel-container {
        display: flex;
        transition: transform 0.5s ease;
      }
      
      .announcement {
        flex: 0 0 33.33%; /* 3 announcements visible at once */
        padding-top:15px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        background-color: var(--lightest); /* Light blue color */
        border: 1px solid var(--lightest); /* Border color */
        border-radius: 5px; /* Border radius */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
        margin-right: 30px;
        margin-bottom: 20px;
      }
      .announcement p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
        color: var(--dark);
      }
      
      .announcement img {
        width: 40%;
        height: auto;
      }
      
      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 30px;
        color: var(--dark);
      }
      button:hover {
        color: red; /* Hover color */
      }
      .prev {
        margin-right: 10px; /* Add spacing between buttons */
      }
      
      .next {
        margin-left: 10px; /* Add spacing between buttons */
      }
      

/*BOARD MEETING MINS */

.board-meeting-minutes {
    width: 97%; /* Full width */
    border-collapse: collapse; /* Collapse borders */
    margin-left: 20px; 
    margin-bottom: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  
  .board-meeting-minutes th,
  .board-meeting-minutes td {
    padding: 12px; /* Add padding */
    text-align: center; /* Center align text */
    border: 1px solid var(--light); /* Add border */
  }
  
  .board-meeting-minutes th {
    background-color: var(--dark); 
    color: var(--lightest);
    
  }
  
  .board-meeting-minutes a {
    text-decoration: none; /* Remove underline */
    color: var(--dark); /* Link color */
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .board-meeting-minutes a:hover {
    text-decoration: underline; 
    color: red;
  }
  

/* ALL IMPORTANT FORMS SECTION*/

.form-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: var(--dark);
    padding-left:10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.form-box {
    background-color: var(--lightest); /* Light blue color */
    padding: 20px;
    margin: 10px;
    text-align: center; /* Center align text */
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
/* Style for the links */
.form-link {
    color: var(--dark); /* Link color */
    text-decoration: none; 
}

.form-link:hover {
    color: red;
    text-decoration: underline;
}
/* Grid layout */
.form-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 18px; /* Gap between grid items */
}




/* ABOUT PAGE STYLES */

.about {
    margin-bottom: 35px;
}

.about-heading {
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}



.Firstdesc {
    background-color: var(--lightest);
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    font-size: 22px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.circles {
    display: flex;
    justify-content: center;
}

.circle {
    text-align: center;
    margin: 0 45px; /* Adjust spacing between circles */
    margin-top: 25px;
}

.circle img {
    border-radius: 50%; /* Ensure the image is circular */
    width: 140px; /* Adjust the size of the image */
    height: 140px;
    object-fit: cover; /* Ensure the image fills the circular container */
}

.circle p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.circle h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}


.geographydesc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.geographydesc h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}
.Geography {
    flex: 1;
    margin-right: 40px; 
    margin-left: 30px;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark); 
    font-size: 18px;
    background-color: var(--lightest);
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.FirstImg img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 60px;
    margin-right: 30px; 
    margin-top: 76px;
}



.economicdesc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.EconomicOutlook {
    flex: 1;
    margin-right: 20px; 
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark); 
    font-size: 18px;
    background-color: var(--lightest);
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.EconomicOutlook h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}


.ScndImg img {
   width: 500px; /* Ensure image does not exceed container width */
   margin-right: 50px;
   height: auto; /* Maintain aspect ratio */
   margin-left: 60px;
   margin-top: 159px;
}



/* HOURS PAGE STYLES */

.HoursofOperation {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}


/* Style for the big purple box */
.big-purple-box {
    background-color: var(--dark);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

/* Style for the container */
.container {
    margin: 0 auto;
    max-width: 1200px; /* Adjust max-width as needed */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

/* Style for the individual business boxes */
.businessboxes {
    background-color: var(--lightest); /* Light purple */
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in box width */
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Hover effect */
.businessboxes:hover {
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect on hover */
}

.businessboxes h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);

}
.hours {
    text-align: left; /* Align the text to the left */
    padding-left: 53px;
}

.hours .day-time-pair {
    margin: 5px 0; /* Add some space between each pair */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Align items vertically */
    padding-right:40px;
    font-size: 18px;
    color: var(--dark);
}

.hours .day-time-pair p {
    font-weight: bold; /* Example style for the day of the week */
    color: var(--dark);
}

.hours .day-time-pair .time {
    color: var(--dark);; /* Example style for the time */
}

.hours .day-time-pair .time a{
    color:red;
    text-decoration: underline;
}

.hours .day-time-pair .time a:hover {
    color: darkblue;
}



/*LINKS PAGE STYLES */

.quickLinks {
    margin-left: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}
.link-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    
    padding: 10px;
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 35px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--lightest);

  }


  .link-image {
    width: 150px;
    margin-right: 20px; /* Add some space between image and text */
    margin-left: 20px;
  }
  
  .link-text {
    text-decoration: none;
    color: var(--dark);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
    
  }
  .link-text {
    color:red;
  }
  .link-text:hover {
    color:darkblue;
    
  }



/*ASSESSMENT DEPARTMENT STYLES */

.assessment-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}
.container1 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.container1 img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 20px;
    width: 500px;
    height: 300px;
    
}

.asses {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 50px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.assessor-section {
   
    padding-left: 60px;
    padding-right: 2px;
    border-radius: 12px; 
    width: 205px;
    text-align: center;
    
    
}

.assessor-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}


.assessor-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 20px;
    color: var(--dark);
}
.office-hours {
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

.office-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.office-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 90px;
    color: var(--dark);
}

.information {
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
    color: var(--dark);
   
}

.container2 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 

}

.assess-calendar {
    background-color: var(--lightest);
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 90px;
    font-size: 18px;
    border-radius: 20px;
    width: 500px;
    color: var(--dark);
    
}

.assess-calendar p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 50px;
    color: var(--dark);
}
.assess-forms {
    background-color: var(--lightest);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 18px;
    border-radius: 20px;
}

.assess-calendar h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    padding-left: 20px;
    color: var(--dark);
}

.assess-forms h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    color: var(--dark);
}

.assess-forms p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
    color: var(--dark);
}

.assess-forms a {
    color:red;
    text-decoration: underline;
}

.assess-forms a:hover {
    color: darkblue;
}

.star-program a {
    color:red;
    text-decoration: underline;
}

.star-program a:hover {
    color: darkblue;
}
.star-program {
    background-color: var(--lightest);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    border-radius: 20px;
   
}

.star-program h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    color: var(--dark);
}

.star-program p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
    color: var(--dark);
}
.container3 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    color: var(--dark);
}

.rolls-property {
    display: flex;
   
}

.link-item {
    margin-right: 70px; /* Add spacing between links */
}

.link-item p {
    margin-top:20px; 
    text-align: center;
    font-family: 'Italianno', serif;
    font-size: 40px;
    background-color: var(--lightest); /* Light blue background */
    border-radius: 10px; /* Rounded corners */
    color: var(--dark);

}

.link-item a img {
    width: 300px; /* Adjust image width */
    height: 200px; /* Maintain aspect ratio */
    display: block; /* Make the image a block element */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 20px;
}
.link-item a:hover img {
    opacity: 0.7; /* Decrease opacity on hover */
    transition: opacity 0.3s ease; /* Add smooth transition effect */
}

.link-item a img {
    transition: opacity 0.3s ease; /* Add smooth transition effect for default state */
}

.rolls-property h2 {
    background-color: var(--lightest);
    margin-left: 25px;
    margin-bottom: 230px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-right: 215px;
    font-family: 'Italianno', serif;
    font-size: 37px;
}


/* Clerk Info */

.clerk-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}
.containers1 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.containers1 img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 20px;
    width: 370px;
    height: 300px;
    
}

.clerk {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 65px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.clerk-section {
   
    padding-left: 60px;
    padding-right: 2px;
    border-radius: 12px; 
    width: 205px;
    text-align: center;
    
}

.clerk-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}


.clerk-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 55px;
    color: var(--dark);
}
.clerk-hours {
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

.clerk-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}


.clerk-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 90px;
    color: var(--dark);
}

.clerk-information {
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.clerk-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.clerk-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
    color: var(--dark);
   
}

.containers2 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 

}




.clerk-forms, .services, .permits, .RegistrarofVitalStatistics, .transfer-station {
    background-color: var(--lightest);
    margin: 20px; /* Set margin to create space around the boxes */
    padding-left: 20px;
    padding-right: 20px;
    width: calc(80%); /* Calculate width to account for padding and margins */
    font-size: 18px;
    border-radius: 20px;
    color: var(--dark);
}


.services p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
    color: var(--dark);
    
}

.services h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    padding-left: 2px;
    color: var(--dark);
}


.permits p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 20px;
    color: var(--dark);
    
}

.permits h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    color: var(--dark);
}

.permits a {
    color:red;
    text-decoration: underline;
}

.permits a:hover {
    color: darkblue;
}


.RegistrarofVitalStatistics h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    color: var(--dark);
}

.RegistrarofVitalStatistics p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
    color: var(--dark);
}


.transfer-station h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    color: var(--dark);
}

.transfer-station p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 5px;
    color: var(--dark);
}


.transfer-station a {
    color:red;
    text-decoration: underline;
}

.transfer-station a:hover {
    color: darkblue;
}


.clerk-forms h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    color: var(--dark);
}

.clerk-forms p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
    color: var(--dark);
}


.clerk-forms a {
    color:red;
    text-decoration: underline;
}

.clerk-forms a:hover {
    color: darkblue;
}


.containers3 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: space-between;
}

.documents-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.LocalLaws1 {
    background-color: var(--lightest);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.LocalLaws1 p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-basis: calc(50% - 10px); /* Two items per row with some spacing between */
    margin-left: 10px;/* Add some margin between paragraphs */
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: var(--dark);
    
}

.LocalLaws1 a {
    color: red;
    text-decoration: underline;
}

.LocalLaws1 a:hover {
    color: darkblue;
}

.LocalLaws1 h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: left;
    padding-left: 14px;
    color: var(--dark);
}


/* Code Enforcement Page*/

.codeenforcement-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.contain1 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}


.contain1 img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 370px;
    height: 300px;
    
}


.enforcement {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 65px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.enforcement-section {
   
    padding-left: 60px;
    border-radius: 12px; 
    width: 265px;
    text-align: center;
    
}

.enforcement-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
   
}


.enforcement-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 29px;
    color: var(--dark);
}


.enforcement-hours {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    margin-left:-35px;
    margin-right: -35px;
    width: 300px;
    text-align: center;
}

.enforcement-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.enforcement-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 92px;
    color: var(--dark);
}

.enforcement-information {
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.enforcement-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.enforcement-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 21px;
    color: var(--dark);
   
}

.contain2 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: space-between;
}


.forms {
    background-color: var(--lightest);
    margin-left: 20px;
    margin-right: -800px;
    margin-top: 20px;
    margin-bottom:20px;
    padding-left:30px;
    padding-right: 220px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.forms p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-basis: calc(50% - 10px); /* Two items per row with some spacing between */
    margin-left: 10px;/* Add some margin between paragraphs */
    margin-bottom: 5px;
    padding-bottom: 15px;
    color: var(--dark);
   
    
}

.forms a {
    color: red;
    text-decoration: underline;
}

.forms a:hover {
    color: darkblue;
}

.forms h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: left;
    padding-left: 14px;
    color: var(--dark);
}

/* Justice Court Page */

.justicecourt-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.contained1 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}


.contained1 img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 370px;
    height: 300px;
    
}


.justice {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}


.justice-section {
   
    padding-left: 50px;
    border-radius: 12px; 
    width: 115px;
    text-align: center;
    
}

.justice-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}


.justice-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 29px;
    color: var(--dark);
}

.justice-hours {
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 12px;
    margin-left:-50px;
    margin-right: -29px;
    width: 300px;
    text-align: center;
}

.justice-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.justice-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 84px;
    color: var(--dark);
}

.justice-information {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.justice-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.justice-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 21px;
    color: var(--dark);
   
}

.sessions {
    padding-left: 10px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.sessions h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.sessions p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 18px;
    color: var(--dark);
   
}


/* Tax Collector Page*/

.taxcollector-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.tax {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.tax-section {
   
    padding-left: 30px;
    border-radius: 12px; 
    width: 200px;
    text-align: center;
    
}

.tax-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}


.tax-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 41px;
    color: var(--dark);
}


.tax-hours {
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 12px;
    margin-left:-50px;
    margin-right: -29px;
    width: 430px;
    text-align: center;
}

.tax-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.tax-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 155px;
    color: var(--dark);
}

.tax-information {
    padding-left: 35px;
    padding-right: 20px;
    border-radius: 12px; 
    width: 234px; 
    text-align: center;
   
}

.tax-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.tax-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 35px;
    color: var(--dark);
   
}


/* Highway Department Page*/

.highway-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.highway {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.highway-section {
   
    padding-left: 80px;
    border-radius: 12px; 
    width: 280px;
    text-align: center;
    
}

.highway-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}


.highway-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 70px;
    color: var(--dark);
}

.highway-section img {
    width: 60%;
    height: 60%;
    margin-left: 2px;
}

.highway-information {
    padding-left: 35px;
    padding-right: 170px;
    border-radius: 12px; 
    width: 350px; 
    text-align: center;
   
}

.highway-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.highway-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 65px;
    color: var(--dark);
   
}

/*Historian Page */
.historian-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.historian {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.historian-section {
   
    padding-left: 30px;
    padding-right: 680px;
    border-radius: 12px; 
    width: 200px;
    text-align: center;
    
}

.historian-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
   
}


.historian-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 55px;
    color: var(--dark);
}


/* Boards Page */
.boards-container {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.boards-container img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 370px;
    height: 300px;
    
}
.boards-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.boards {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.boards-section {
   
    padding-left: 70px;
    border-radius: 12px; 
    width: 280px;
    text-align: center;
    
}

.boards-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    padding-left: 40px;
    color: var(--dark);
}


.boards-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 55px;
    color: var(--dark);
}

.boards-information {
    padding-left: 35px;
    padding-right: 170px;
    border-radius: 12px; 
    width: 350px; 
    text-align: center;
   
}

.boards-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.boards-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 65px;
    color: var(--dark);
   
}


.fees-container {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.fees {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 45px;
    padding-left: 40px;
    margin-right: 560px; /* Adjust as needed */
    display: flex;
    border-radius: 20px;
}

.fees-table h2{
    font-family: 'Italianno', serif;
    font-size: 30px;
    padding-left: 20px;
    color: var(--dark);
}

.fees-table p {
    padding-left: 15px;
    padding-right: 50px; /* Adjust as needed */
    padding-top: 10px;
    margin-right: 0; /* Remove margin-right */
    font-size: 16px;
    color: var(--dark);
}

table td {
    padding-left: 15px;
    padding-right: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: var(--dark);
}

table th {
    text-align: left;
    padding-left: 16px;
    font-size: 16px;
    color: var(--dark);
}

.notes {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: -460px; /* Adjust as needed */
    margin-right: 40px; /* Adjust as needed */
    padding-left: 70px; /* Adjust as needed */
    padding-right: 70px; /* Adjust as needed */
    border-radius: 20px;
}

.notes-info {
    padding-left: 60px;
    padding-right: -80px;
}

.notes h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.notes p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    margin-bottom: 20px; /* Adjust as needed */
    text-align: center;
    padding-right: 120px; /* Adjust as needed */
    padding-left: 40px;
    color: var(--dark);
}
.notes a {
    color: red;
    text-decoration: underline;
}

.notes a:hover {
    color: darkblue;
}

.appeals-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.appeals-container {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.appeals-container img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 370px;
    height: 300px;
    
}

.appeals {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.board-appeals {
   
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 12px; 
    width: 420px;
    text-align: center;
    
}

.board-appeals h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
   
}


.board-appeals p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 90px;
    color: var(--dark);
}


.general-info {
    padding-left: -50px;
    padding-right: 140px;
    border-radius: 12px; 
    width: 280px;
    text-align: center;
}

.general-info h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
   
}


.general-info p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 49px;
    padding-right: 20px;
    margin-right: -30px;
    color: var(--dark);
}
.general-info a {
    color: red;
    text-decoration: underline;
}

.general-info a:hover {
    color: darkblue;
}


/* Dog Control Page*/

.dog-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.dog {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.dog-section {
   
    padding-left: 80px;
    border-radius: 12px; 
    width: 280px;
    text-align: center;
    
}

.dog-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
   
}


.dog-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 80px;
    color: var(--dark);
}

.dog-information {
    padding-left: 45px;
    padding-right: 170px;
    border-radius: 12px; 
    width: 350px; 
    text-align: center;
   
}

.dog-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    color: var(--dark);
}

.dog-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 85px;
    color: var(--dark);
   
}


/* FOOTER*/

.site-footer {
    background-color: var(--dark); /* Set background color for the footer */
    color: var(--lightest); /* Set text color for the footer */
    padding: 30px; /* Add padding to the footer */
    text-align: center; /* Align content in the center */
  }
  
  .footer-content {

    align-items: center;
    max-width: 1200px; /* Set maximum width for the footer content */
    margin: 0 auto; /* Center the footer content */
  }
  
 