/* All the colors to be used */
:root {
    --dark: #04235A;
    --light: #064490;
    --lightest: #C3E0EA;
    --beige: #FAF0E6;
    --hover: #D1D9EB

}

/* Keep the header attached to every side of the website */
body {
    margin: 0;
    padding: 0;
    background-color: var(--beige);
}


/* White patch container for the logo */
.logo-container {
    background-color: var(--beige);
    text-align: center;
    position: sitcky; /* Position the logo container sticky */
    top: 0; /* Place it at the top of the viewport */
    left: 0; /* Align it to the left */
    width: 100%; /* Make it span the entire width */

}

.logo-container img {
    height: 150px;
    max-width: 100%; /* Ensure the logo image is responsive */
}

/* The design for whole heading */
header {
    background-color: var(--dark);
    color: white;
    text-align: center; 
    padding-top: 35px;
    padding-bottom: 35px;


}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* Make the list items centered */
}

header nav ul li {
    display: inline;
    margin-right: 50px;
}

/* Has to do with the header text */
header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}

/* The text in the header when hovered on is turned a lighter color */
header nav ul li a:hover {
    text-decoration: none;
    color: var(--hover);
}

/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    background-color: var(--dark);
    min-width: 100px;
    z-index: 1;
    top: 100%; /* Position the dropdown below the parent */
    left: 0; /* Align the dropdown with the parent */
}

.dropdown li {
    float: none;
}

.dropdown li a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Show dropdown on hover */
#nav li.dropdown-parent {
    position: relative;
}


#nav li.dropdown-parent:hover .dropdown {
    display: block;
}

/* Styles for the top half blue box */
.content-container {
    background-color: var(--lightest); 
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden; /* Clear floats */
    border-radius: 10px;
}

/* Styles for the "Welcome to Broadalbin" text */
.Welcome {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    color: var(--lightest); 
    margin-top: 20px;
}

/* Styles for the paragraph */
.sidebar {
    float: left;
    width: 50%;
}

.sidebar .text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    
}

.sidebar .paragraph {
    margin-left: 20px;
    margin-right: 15px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:600;
    margin-bottom: 15px;
}

.sidebar .paragraph p{
    text-indent: 30px;
    margin-bottom:-10px;
}

.sidebar .Welcome {
    font-size: 35px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    max-width: 90%; 
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    text-shadow: 6px 6px 6px grey;
}


.sidebar .town-name {
    font-size: 90px;
    font-family: 'Italianno', serif;
    text-shadow: 6px 6px 6px grey;
    text-align: center;
    color: var(--dark); 
    margin-top: -25px;
    margin-left: -35px;
    margin-bottom: -8px;
}

.sidebar .separator {
    border: none;
    border-top: 4px solid var(--dark);
    width: 90%; 
    margin-left: 21px;
}

/* Styles for the slideshow */
.slideshow-container {
    float: right;
    position: relative;
    overflow: hidden;
    width: 50%;
    margin-top: 30px;
    border-radius: 10px;
}

/* Individual slides */
.mySlides {
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0; 
    transition: opacity 1s ease-in-out;

  }


    /* Styles for the slideshow */
.slideshow-container {
    float: right;
    position: relative;
    height: 50vh;
    overflow: hidden;
    width: 50%;
    margin-top: 97px;
   
}

/* Individual slides */
.mySlides {
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0; 
    transition: opacity 1s ease-in-out;

  }

.mySlides img {
    width: 100%; 
    height: auto;
    display: block;
    margin-left:20px;
    
   
}
  

/* CSS for town board section */

.board-heading {
    margin-left: 30px;
    margin-top: 25px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 6px 6px 6px grey;
    color: var(--dark);

}
.town-board-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-right: 50px;
}

.member {
    text-align: center;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:-5px;
    padding-right:-5px;
    margin-left: 22px;
    margin-right:5px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    background-color: var(--lightest); 
    max-width: 250px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.member:hover {
    transform: scale(1.05); /* Enlarge the box slightly on hover */
}


/* Styles for member images */
.member-img {
    width: 140px; 
    height: 180px; 
    margin-left:40px;
    margin-right: 40px; 
}


.member-details h2{
    font-family: 'Italianno', serif;
    color: var(--dark);
    font-size: 39px;
    font-weight: bolder;
    padding-top: -5px;
    padding-bottom: -25px;
}

.member-details p{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-top: -5px;
    color: var(--dark);
    
}

.title {

    font-weight: bolder;
}

.member-details {
   
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left:20px;
    margin-right:20px;
    padding-top: 5px;
}


/* Styles for TOWN CALENDAR */


.calendar {
    max-width: 600px;
    padding-right: 728px;
    padding-left: 50px;
    padding-bottom:50px;
    padding-top:50px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
    background-color: var(--dark);
    position:relative;
    display: flex;
  }

 
  .event-day {
    background-color: yellow; /* Adjust the highlighting color */
    color: black; /* Adjust the text color if needed */
    }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .month-year {
    font-size: 60px;
    font-family: 'Italianno', serif;
    color: var(--lightest);
    font-weight: bold;
    border-bottom: 2px solid var(--dark); /* Add a line under the month */
  }
  
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .navigation button {
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove borders */
    font-size: 24px;
    color: var(--lightest); /* Change the color */
    cursor: pointer;
  }
  
  .navigation button:hover {
    color: var(--beige); /* Change color on hover */
  }
  
  .days-of-week {
    display: flex;
    justify-content: space-between;
    margin-bottom: -15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .day {
    flex-grow: 1;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    border: none;
    text-align: center;
    color: var(--dark);
    background-color: var(--lightest);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px; /* Increased gap between grid items */
  }

  .days-of-week {
    padding-bottom: 20px; /* Adjust the padding as needed */
}
  
  .day::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  
  .prev-month-day,
  .next-month-day {
    color: gray;
  }
  
  .events-container {
    display: flex; /* Change display to flex */
    flex-direction: column; /* Stack boxes vertically */
    align-items: center;
    width: 900px;
    padding: 10px;
    margin-left: 80px;
}
.event-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 20px;
    margin: 10px;
    font-family: "Italiano", sans-serif;
    background-color: var(--lightest);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a single box shadow */
  }
  
  .event-date {
    font-size: 24px;
    font-weight: bold;
    font-family: "Italiano";
    margin-bottom: 10px;
  }
  
  .event-name {
    font-size: 18px;
    text-align: center;
    font-family: "Italiano", sans-serif;
  }
  
  
/* Add hover effect to calendar days */
.day.event-day:hover .day {
    font-size: 1.2em;
    font-weight: bold;
}

  
  /* Add hover effect to event boxes */
  .event-box:hover {
    transform: scale(1.05); /* Enlarge event box */
    transition: transform 0.3s ease; /* Add smooth transition effect */
  }
  


/* ABOUT PAGE STYLES */

.about {
    margin-bottom: 35px;
}

.about-heading {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--dark);
}

.about-line {
    width: 250px;
    border-top: 2px solid var(--light);
    margin: 0 auto;
}

.Firstdesc {
    background-color: var(--beige);
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    font-size: 22px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Firstdesc:hover {
    transform: scale(1.05); /* Enlarge the box slightly on hover */
}



.circles {
    display: flex;
    justify-content: center;
}

.circle {
    text-align: center;
    margin: 0 45px; /* Adjust spacing between circles */
    margin-top: 25px;
}

.circle img {
    border-radius: 50%; /* Ensure the image is circular */
    width: 140px; /* Adjust the size of the image */
    height: 140px;
    object-fit: cover; /* Ensure the image fills the circular container */
}

.circle p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--dark); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.geographydesc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.Geography {
    flex: 1;
    margin-right: 40px; 
    margin-left: 30px;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark); 
    font-size: 18px;
    background-color: var(--beige);
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.Geography:hover {
    transform: scale(1.05); /* Enlarge the box slightly on hover */
}

.FirstImg img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 60px;
    margin-right: 30px; 
    margin-top: 76px;
}



.economicdesc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.EconomicOutlook {
    flex: 1;
    margin-right: 20px; 
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark); 
    font-size: 18px;
    background-color: var(--beige);
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.EconomicOutlook:hover {
    transform: scale(1.05); /* Enlarge the box slightly on hover */
}

.ScndImg img {
   width: 500px; /* Ensure image does not exceed container width */
   margin-right: 50px;
   height: auto; /* Maintain aspect ratio */
   margin-left: 60px;
   margin-top: 159px;
}



/* HOURS PAGE STYLES */

.HoursofOperation {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark); 
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}


/* Style for the big purple box */
.big-purple-box {
    background-color: var(--dark);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

/* Style for the container */
.container {
    margin: 0 auto;
    max-width: 1200px; /* Adjust max-width as needed */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

/* Style for the individual business boxes */
.businessboxes {
    background-color: var(--lightest); /* Light purple */
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in box width */
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Hover effect */
.businessboxes:hover {
    transform: scale(1.05); /* Enlarge the box slightly on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect on hover */
}

.businessboxes h2 {
    text-decoration: underline;

}
.hours {
    text-align: left; /* Align the text to the left */
    padding-left: 53px;
}

.hours .day-time-pair {
    margin: 5px 0; /* Add some space between each pair */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Align items vertically */
    padding-right:40px;
    font-size: 18px;
}

.hours .day-time-pair p {
    font-weight: bold; /* Example style for the day of the week */
}

.hours .day-time-pair .time {
    color: black; /* Example style for the time */
}


/*LINKS PAGE STYLES */

.quickLinks {
    margin-top: 40px;
    margin-left: 86px;
    color: var(--dark);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}
.link-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  
    padding: 10px;
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 35px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

  }

  .link-container:hover {
    transform: scale(1.05); /* Enlarge the box slightly on hover */
  }
  
  .link-image {
    width: 150px;
    margin-right: 20px; /* Add some space between image and text */
    margin-left: 20px;
  }
  
  .link-text {
    text-decoration: none;
    color: var(--dark);
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .link-text:hover {
    color:darkblue;
    
  }



/*ASSESSMENT DEPARTMENT STYLES */

.assessment-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}
.container1 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.container1 img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 20px;
    width: 500px;
    height: 300px;
    
}

.asses {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 50px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.assessor-section {
   
    padding-left: 60px;
    padding-right: 2px;
    border-radius: 12px; 
    width: 205px;
    text-align: center;
    
}

.assessor-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}


.assessor-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 20px;
}
.office-hours {
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

.office-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.office-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 90px;
}

.information {
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
   
}

.container2 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 

}

.assess-calendar {
    background-color: var(--lightest);
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 90px;
    font-size: 18px;
    border-radius: 20px;
    width: 500px;
    
}

.assess-calendar p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 50px;
}
.assess-forms {
    background-color: var(--lightest);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 18px;
    border-radius: 20px;
}

.assess-calendar h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    padding-left: 20px;
}

.assess-forms h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
}

.assess-forms p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
}

.assess-forms a {
    color:red;
    text-decoration: underline;
}

.assess-forms a:hover {
    color: darkblue;
}

.star-program a {
    color:red;
    text-decoration: underline;
}

.star-program a:hover {
    color: darkblue;
}
.star-program {
    background-color: var(--lightest);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    border-radius: 20px;
   
}

.star-program h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
}

.star-program p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
}
.container3 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.rolls-property {
    display: flex;
   
}

.link-item {
    margin-right: 70px; /* Add spacing between links */
}

.link-item p {
    margin-top:20px; 
    text-align: center;
    font-family: 'Italianno', serif;
    font-size: 40px;
    background-color: var(--lightest); /* Light blue background */
    border-radius: 10px; /* Rounded corners */


}

.link-item a img {
    width: 300px; /* Adjust image width */
    height: 200px; /* Maintain aspect ratio */
    display: block; /* Make the image a block element */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 20px;
}
.link-item a:hover img {
    opacity: 0.7; /* Decrease opacity on hover */
    transition: opacity 0.3s ease; /* Add smooth transition effect */
}

.link-item a img {
    transition: opacity 0.3s ease; /* Add smooth transition effect for default state */
}

.rolls-property h2 {
    background-color: var(--lightest);
    margin-left: 25px;
    margin-bottom: 230px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-right: 215px;
    font-family: 'Italianno', serif;
    font-size: 37px;
}


/* Clerk Info */

.clerk-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}
.containers1 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.containers1 img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 20px;
    width: 370px;
    height: 300px;
    
}

.clerk {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 65px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.clerk-section {
   
    padding-left: 60px;
    padding-right: 2px;
    border-radius: 12px; 
    width: 205px;
    text-align: center;
    
}

.clerk-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}


.clerk-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 55px;
}
.clerk-hours {
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

.clerk-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.clerk-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 90px;
}

.clerk-information {
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.clerk-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.clerk-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
   
}

.containers2 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 

}




.clerk-forms, .services, .permits, .RegistrarofVitalStatistics, .transfer-station {
    background-color: var(--lightest);
    margin: 20px; /* Set margin to create space around the boxes */
    padding-left: 20px;
    padding-right: 20px;
    width: calc(80%); /* Calculate width to account for padding and margins */
    font-size: 18px;
    border-radius: 20px;
}


.services p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
    
}

.services h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
    padding-left: 2px;
}


.permits p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 20px;
    
}

.permits h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
}

.permits a {
    color:red;
    text-decoration: underline;
}

.permits a:hover {
    color: darkblue;
}


.RegistrarofVitalStatistics h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
}

.RegistrarofVitalStatistics p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
}


.transfer-station h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
}

.transfer-station p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 5px;
}


.transfer-station a {
    color:red;
    text-decoration: underline;
}

.transfer-station a:hover {
    color: darkblue;
}


.clerk-forms h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: center;
}

.clerk-forms p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
}


.clerk-forms a {
    color:red;
    text-decoration: underline;
}

.clerk-forms a:hover {
    color: darkblue;
}


.containers3 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: space-between;
}

.documents-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.LocalLaws1 {
    background-color: var(--lightest);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.LocalLaws1 p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-basis: calc(50% - 10px); /* Two items per row with some spacing between */
    margin-left: 10px;/* Add some margin between paragraphs */
    margin-bottom: 5px;
    padding-bottom: 10px;
    
}

.LocalLaws1 a {
    color: red;
    text-decoration: underline;
}

.LocalLaws1 a:hover {
    color: darkblue;
}

.LocalLaws1 h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: left;
    padding-left: 14px;
}


/* Code Enforcement Page*/

.codeenforcement-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.contain1 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}


.contain1 img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 370px;
    height: 300px;
    
}


.enforcement {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 65px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.enforcement-section {
   
    padding-left: 60px;
    border-radius: 12px; 
    width: 265px;
    text-align: center;
    
}

.enforcement-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
   
}


.enforcement-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 29px;
}


.enforcement-hours {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    margin-left:-35px;
    margin-right: -35px;
    width: 300px;
    text-align: center;
}

.enforcement-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.enforcement-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 92px;
}

.enforcement-information {
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.enforcement-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.enforcement-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 21px;
   
}

.contain2 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: space-between;
}


.forms {
    background-color: var(--lightest);
    margin-left: 20px;
    margin-right: -800px;
    margin-top: 20px;
    margin-bottom:20px;
    padding-left:30px;
    padding-right: 220px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.forms p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-basis: calc(50% - 10px); /* Two items per row with some spacing between */
    margin-left: 10px;/* Add some margin between paragraphs */
    margin-bottom: 5px;
    padding-bottom: 15px;
   
    
}

.forms a {
    color: red;
    text-decoration: underline;
}

.forms a:hover {
    color: darkblue;
}

.forms h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    text-align: left;
    padding-left: 14px;
}

/* Justice Court Page */

.justicecourt-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.contained1 {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}


.contained1 img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 370px;
    height: 300px;
    
}


.justice {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}


.justice-section {
   
    padding-left: 50px;
    border-radius: 12px; 
    width: 115px;
    text-align: center;
    
}

.justice-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
   
}


.justice-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 29px;
}

.justice-hours {
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 12px;
    margin-left:-50px;
    margin-right: -29px;
    width: 300px;
    text-align: center;
}

.justice-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.justice-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 84px;
}

.justice-information {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.justice-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.justice-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 21px;
   
}

.sessions {
    padding-left: 10px;
    border-radius: 12px; 
    width: 220px; 
    text-align: center;
   
}

.sessions h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.sessions p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 18px;
   
}


/* Tax Collector Page*/

.taxcollector-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.tax {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.tax-section {
   
    padding-left: 30px;
    border-radius: 12px; 
    width: 200px;
    text-align: center;
    
}

.tax-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
   
}


.tax-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 41px;
}


.tax-hours {
    padding-left: 25px;
    padding-right: 10px;
    border-radius: 12px;
    margin-left:-50px;
    margin-right: -29px;
    width: 430px;
    text-align: center;
}

.tax-hours h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.tax-hours p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 155px;
}

.tax-information {
    padding-left: 35px;
    padding-right: 20px;
    border-radius: 12px; 
    width: 234px; 
    text-align: center;
   
}

.tax-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.tax-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 35px;
   
}


/* Highway Department Page*/

.highway-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.highway {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.highway-section {
   
    padding-left: 80px;
    border-radius: 12px; 
    width: 280px;
    text-align: center;
    
}

.highway-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
   
}


.highway-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 70px;
}

.highway-information {
    padding-left: 35px;
    padding-right: 170px;
    border-radius: 12px; 
    width: 350px; 
    text-align: center;
   
}

.highway-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.highway-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 65px;
   
}

/*Historian Page */
.historian-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.historian {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.historian-section {
   
    padding-left: 30px;
    padding-right: 680px;
    border-radius: 12px; 
    width: 200px;
    text-align: center;
    
}

.historian-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
   
}


.historian-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 55px;
}


/* Boards Page */
.boards-container {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.boards-container img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 370px;
    height: 300px;
    
}
.boards-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.boards {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.boards-section {
   
    padding-left: 70px;
    border-radius: 12px; 
    width: 280px;
    text-align: center;
    
}

.boards-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
    padding-left: 40px;
   
}


.boards-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 55px;
}

.boards-information {
    padding-left: 35px;
    padding-right: 170px;
    border-radius: 12px; 
    width: 350px; 
    text-align: center;
   
}

.boards-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.boards-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 65px;
   
}


.fees-container {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.fees {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 45px;
    padding-left: 40px;
    margin-right: 560px; /* Adjust as needed */
    display: flex;
    border-radius: 20px;
}

.fees-table h2{
    font-family: 'Italianno', serif;
    font-size: 30px;
    padding-left: 20px;
}

.fees-table p {
    padding-left: 15px;
    padding-right: 50px; /* Adjust as needed */
    padding-top: 10px;
    margin-right: 0; /* Remove margin-right */
    font-size: 16px;
}

table td {
    padding-left: 15px;
    padding-right: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

table th {
    text-align: left;
    padding-left: 16px;
    font-size: 16px;
}

.notes {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: -460px; /* Adjust as needed */
    margin-right: 40px; /* Adjust as needed */
    padding-left: 70px; /* Adjust as needed */
    padding-right: 70px; /* Adjust as needed */
    border-radius: 20px;
}

.notes-info {
    padding-left: 60px;
    padding-right: -80px;
}

.notes h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;

}

.notes p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    margin-bottom: 20px; /* Adjust as needed */
    text-align: center;
    padding-right: 120px; /* Adjust as needed */
    padding-left: 40px;
}
.notes a {
    color: red;
    text-decoration: underline;
}

.notes a:hover {
    color: darkblue;
}

.appeals-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.appeals-container {
    background-color: var(--dark);
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.appeals-container img {
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 370px;
    height: 300px;
    
}

.appeals {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.board-appeals {
   
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 12px; 
    width: 420px;
    text-align: center;
    
}

.board-appeals h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
   
}


.board-appeals p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 90px;
}


.general-info {
    padding-left: -50px;
    padding-right: 140px;
    border-radius: 12px; 
    width: 280px;
    text-align: center;
}

.general-info h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
   
}


.general-info p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 49px;
    padding-right: 20px;
    margin-right: -30px;
}
.general-info a {
    color: red;
    text-decoration: underline;
}

.general-info a:hover {
    color: darkblue;
}


/* Dog Control Page*/

.dog-heading {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-shadow: 6px 6px 6px grey;
}

.dog {
    background-color: var(--lightest);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
    margin-left: 55px;
    margin-right: 300px;
    display: flex;
    border-radius: 20px;
}

.dog-section {
   
    padding-left: 80px;
    border-radius: 12px; 
    width: 280px;
    text-align: center;
    
}

.dog-section h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
   
}


.dog-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 80px;
}

.dog-information {
    padding-left: 45px;
    padding-right: 170px;
    border-radius: 12px; 
    width: 350px; 
    text-align: center;
   
}

.dog-information h2 {
    font-family: 'Italianno', serif;
    font-size: 30px;
}

.dog-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: left;
    padding-left: 85px;
   
}


/* FOOTER*/

.site-footer {
    background-color: var(--dark); /* Set background color for the footer */
    color: white; /* Set text color for the footer */
    padding: 30px; /* Add padding to the footer */
    text-align: center; /* Align content in the center */
  }
  
  .footer-content {

    align-items: center;
    max-width: 1200px; /* Set maximum width for the footer content */
    margin: 0 auto; /* Center the footer content */
  }
  
 